.form_container {
    margin: 20px;
    position: absolute;
}

.form_container input {
    margin: 5px;
    border: 1px black solid;
    display: block;
    position: relative;
    margin: 15px;
}

.form_container button {
    display: block;
    position: relative;
    height: 30px;
    width: 100px;
    border: 1px solid black;
    margin: 15px;
}