@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
  }

  body {
    margin: 25px auto;
    background-size: cover;
    background: url("pic/beautiful-blue-bright-1988502.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Arapey', serif;
    max-width: 100vh;
    max-height: 100vh;
    position: absolute;
   /* overflow: auto; */
  }

  .main-container {
    height: 600px;
    width: 600px;
    border: 10px black solid;
    position: relative;
    left: 75%;
    top: 25px;
    text-align: center;
  }